<style>
  h1 {
    text-align: center;
  }
  
  ion-col {
    text-align: center;
  }
  
  ion-grid {
    padding: 0px;
  }
  
  .big {
    padding-top: 25vh;
    padding-bottom: 25vh;
  }
  
  .large {
    font-size: 25vw;
  }
</style>

<ion-content padding>
  <ion-grid>
    <ion-row center>
      <ion-col>
        <button [disabled]="gameHasStarted()" (click)="choosePlayerOne()" ion-button clear round color="dark">
          {{player_one.name}}
        </button>
      </ion-col>
      
      <ion-col>
        <h1>SET {{set_no}}</h1>
      </ion-col>
      
      <ion-col>
        <button [disabled]="gameHasStarted()" (click)="choosePlayerTwo()" ion-button clear round color="dark">
          {{player_two.name}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row center>
      <ion-col>
        <button class="big" (click)="leftScored()" [disabled]="set_end" ion-button large full [style.background-color]="player_one.color"><h1 class="large">{{left_point}}</h1></button>
      </ion-col>

      <ion-col>
        <button class="big" (click)="rightScored()" [disabled]="set_end" ion-button large full [style.background-color]="player_two.color"><h1 class="large">{{right_point}}</h1></button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row center>
      <ion-col width-33 *ngFor="let set of sets">
        <ion-badge color="dark" item-right>{{set.left}} : {{set.right}}</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row center>
      <ion-col width-33>
        <button *ngIf="set_end && !game_end" (click)="newSet()" color="secondary" ion-button small full round>New set</button>
        <button *ngIf="!set_end && !game_end" [disabled]="!gameHasStarted()" (click)="resetSet()" ion-button small full round>Reset set</button>
      </ion-col>
      <ion-col width-33>
        <button *ngIf="game_end" (click)="resetAll()" color="secondary" ion-button small full round>New game</button>
        <button *ngIf="!game_end" [disabled]="!gameHasStarted()" (click)="resetAll()" ion-button small full round>Reset all</button>
      </ion-col>
      <ion-col width-33>
        <button [disabled]="!canUndo()" (click)="undo()" color="dark" ion-button small full round>Undo</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br />

  <button ion-button small full round menuToggle>Open menu</button>

</ion-content>