.hello-ionic-page {
  
  ion-col {
    text-align: center;
    color: red;
  }

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }
  
  h1 {
    position: relative;
    text-align: center;
  }
  
  .point {
    padding: 50px;
  }

}
