<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Historic</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of items">
      <ion-item>
        <ion-row center>
          <ion-col *ngFor="let set of item.sets">
            <ion-badge color="dark" item-right>{{set.left}} : {{set.right}}</ion-badge>
          </ion-col>
        </ion-row>
        <p>{{toLocaleDateString(item.date)}} - {{toLocaleTimeString(item.date)}}</p>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>